In [5]:
import pandas as pd
df = pd.read_csv("dmvpn.csv")

In [10]:
df.groupby(df.ip).count().sort_values("status")

               status
ip
10.51.119.52        3
10.51.119.10        4
10.51.119.66        4
10.51.119.62        4
10.51.119.60        4
...               ...
10.51.119.131       4
10.51.119.130       4
10.51.119.13        4
10.51.119.141       4
10.51.119.99        4

[93 rows x 1 columns]