In [3]:
import pandas as pd
ratings = pd.read_csv("/Users/alexigna/projects/skillfactory/unit1/00_ratings.csv")
movies = pd.read_csv("/Users/alexigna/projects/skillfactory/unit1/00_movies.csv")

# Задание 3
Сколько раз была выставлена низшая оценка 0.5 в наших рейтингах? Используйте файл ratings.csv.

In [14]:
ratings[ratings["rating"]==ratings["rating"].min()].count()

userId       1370
movieId      1370
rating       1370
timestamp    1370
dtype: int64

# Задание 4
Объедините датафреймы ratings и movies, используя параметр how='outer'.
Сколько строк в получившемся датафрейме?

In [15]:
merged = ratings.merge(movies, on="movieId", how="outer")

In [16]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100854 entries, 0 to 100853
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  float64
 1   movieId    100854 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  float64
 4   title      100854 non-null  object
 5   genres     100854 non-null  object
dtypes: float64(3), int64(1), object(2)
memory usage: 5.4+ MB

# Задание 5
Найдите в датафрейме movies фильм с movieId=3456.
Какой у него год выпуска?
P. S. Попробуйте найти movieId этого фильма в датафрейме ratings. Это будет ключом к ответу на следующее задание.

In [18]:
movies[movies["movieId"]==3456]

      movieId                                         title genres
2587     3456  Color of Paradise, The (Rang-e khoda) (1999)  Drama

In [19]:
ratings[ratings["movieId"]==3456]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []