In [1]:
import pandas as pd
df = pd.read_csv("/Users/alexigna/projects/skillfactory/unit1/data_sf.csv")

In [2]:
df.groupby(['Nationality'])[['Club','Name']].nunique()

             Club  Name
Nationality
Afghanistan     4     4
Albania        26    29
Algeria        33    37
Andorra         1     1
Angola          9    10
...           ...   ...
Uzbekistan      2     2
Venezuela      34    36
Wales          56   101
Zambia          5     6
Zimbabwe        8     9

[156 rows x 2 columns]

In [12]:
df[df.Nationality=='Andorra'][["Club", "Name"]]

                    Club        Name
8402  Sandefjord Fotball  Marc Vales

In [13]:
df.groupby(['Club'])['Name'].count()

Club
 SSV Jahn Regensburg     24
1. FC Heidenheim 1846    20
1. FC Kaiserslautern     23
1. FC Köln               10
1. FC Magdeburg          21
                         ..
Zagłębie Sosnowiec       25
Çaykur Rizespor          22
Örebro SK                26
Östersunds FK            20
Śląsk Wrocław            24
Name: Name, Length: 650, dtype: int64

In [14]:
df.groupby(['Club'])['Dribbling'].median()

Club
 SSV Jahn Regensburg     57.5
1. FC Heidenheim 1846    59.5
1. FC Kaiserslautern     54.0
1. FC Köln               60.5
1. FC Magdeburg          53.0
                         ...
Zagłębie Sosnowiec       58.0
Çaykur Rizespor          62.0
Örebro SK                55.0
Östersunds FK            61.5
Śląsk Wrocław            54.5
Name: Dribbling, Length: 650, dtype: float64

In [15]:
df.groupby(['Club'])['Strength'].max()

Club
 SSV Jahn Regensburg     92
1. FC Heidenheim 1846    86
1. FC Kaiserslautern     85
1. FC Köln               76
1. FC Magdeburg          86
                         ..
Zagłębie Sosnowiec       84
Çaykur Rizespor          81
Örebro SK                85
Östersunds FK            88
Śląsk Wrocław            85
Name: Strength, Length: 650, dtype: int64

In [16]:
df.groupby(['Club'])['Strength'].min()

Club
 SSV Jahn Regensburg     49
1. FC Heidenheim 1846    40
1. FC Kaiserslautern     41
1. FC Köln               44
1. FC Magdeburg          49
                         ..
Zagłębie Sosnowiec       36
Çaykur Rizespor          42
Örebro SK                32
Östersunds FK            28
Śląsk Wrocław            45
Name: Strength, Length: 650, dtype: int64

# Задание 1
Посчитайте среднюю (mean) и медианную (median) зарплату (Wage) футболистов из разных клубов (Club). В скольких клубах средняя и медианная зарплаты совпадают?

Подсказка: чтобы в процессе группировки применить к данным одновременно две агрегирующие функции, необходимо указать их как аргументы метода agg:

df.groupby(столбец_для_группировки)[столбцы_для_отображения].agg(['функция_1', 'функция_2'])

In [66]:
df_agg = df.groupby('Club')['Wage'].agg(['mean', 'median'])
df_eq = df_agg[df_agg["mean"]==df_agg["median"]]
len(df_eq)

52

# Задание 2
Продолжаем работать с клубами, в которых средняя зарплата совпадает с медианной. Каков максимальный размер средней зарплаты в этой группе клубов?

In [77]:
df_eq.sort_values("mean", ascending=False)["mean"].to_list()[0]

13000.0

Как называется клуб, где игроки получают такую зарплату?

In [72]:
df_eq.sort_values("mean", ascending=False).index.to_list()[0]

'Cruzeiro'