In [1]:
import pandas as pd
df = pd.read_csv("/Users/alexigna/projects/skillfactory/unit1/data_sf.csv")

In [2]:
small_df = df[df.columns[1:8]].head(25)
display(small_df)

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [3]:
s = small_df['Nationality'].value_counts()
display(s)

Spain        4
Argentina    3
Belgium      3
Uruguay      3
Germany      3
France       2
Brazil       1
Croatia      1
Portugal     1
Slovenia     1
Italy        1
England      1
Poland       1
Name: Nationality, dtype: int64

In [4]:
s.loc[s>1]

Spain        4
Argentina    3
Belgium      3
Uruguay      3
Germany      3
France       2
Name: Nationality, dtype: int64

Сколько футбольных клубов представлено в датасете?

In [5]:
len(df['Club'].value_counts())

650

Отметьте названия футбольных клубов, представленных в датасете наибольшим количеством игроков.

In [6]:
s = df['Club'].value_counts()
s.loc[s==s.max()].index.to_list()

['Shonan Bellmare', 'V-Varen Nagasaki']

Как называется футбольный клуб, представленный наименьшим количеством игроков в датасете (скопируйте ответ из Jupyter Notebook)?

In [7]:
s = df['Club'].value_counts()
print(s.loc[s==s.min()].index.to_list())
print(s.loc[s==s.min()].to_list())

['Atlético Mineiro']
[6]

In [8]:
small_df['Nationality'].value_counts(normalize=True)

Spain        0.16
Argentina    0.12
Belgium      0.12
Uruguay      0.12
Germany      0.12
France       0.08
Brazil       0.04
Croatia      0.04
Portugal     0.04
Slovenia     0.04
Italy        0.04
England      0.04
Poland       0.04
Name: Nationality, dtype: float64

Данные об игроках каких позиций (Position) занимают более 10% датасета?

In [9]:
s = df['Position'].value_counts(normalize=True)
s.loc[s>0.1].index.to_list()

['GK', 'ST', 'CB']

Данные об игроках каких позиций (Position) занимают менее 1% датасета?

In [10]:
s = df['Position'].value_counts(normalize=True)
s.loc[s<0.01].index.to_list()

['LS', 'RS', 'RWB', 'LWB', 'CF', 'LF', 'RF', 'LAM', 'RAM']

Сначала сгруппируем данные по численному признаку без параметра bins:

In [11]:
small_df['Age'].value_counts()

32    5
27    5
26    3
31    3
33    2
24    2
29    2
25    1
28    1
30    1
Name: Age, dtype: int64

In [12]:
small_df['Wage'].value_counts()

205000    3
240000    2
355000    2
290000    1
200000    1
380000    1
420000    1
455000    1
225000    1
405000    1
260000    1
215000    1
125000    1
145000    1
94000     1
565000    1
340000    1
285000    1
300000    1
130000    1
315000    1
Name: Wage, dtype: int64

разобьем весь возможный диапазон зарплат на 4 равных промежутка и подсчитаем количество футболистов, попадающих в каждый из промежутков. Именно для этого нужен параметр bins:

In [13]:
small_df['Wage'].value_counts(bins=4)

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

Теперь видно, что распределение неравномерное и только 2 футболиста из 25 получают сверхвысокую зарплату.
Давайте посмотрим, что это за футболисты:

In [14]:
s = small_df['Wage'].value_counts(bins=4)
small_df.loc[(small_df['Wage'] > s.index[3].left) & (small_df['Wage'] <= s.index[3].right)]

        Name  Age Nationality          Club      Value    Wage Position
0   L. Messi   31   Argentina  FC Barcelona  110500000  565000       RF
7  L. Suárez   31     Uruguay  FC Barcelona   80000000  455000       RS

In [15]:
s.index[3].right

565000.0

В каких пределах находятся худшие 20% показателей точности ударов ногой (FKAccuracy)?

In [16]:
df["FKAccuracy"].value_counts(bins=5).index.sort_values().to_list()[0]

Interval(2.908, 21.2, closed='right')

Какие показатели точности ударов ногой демонстрирует большинство футболистов (FKAccuracy)?

In [17]:
df["FKAccuracy"].value_counts(bins=5).sort_values(ascending=False).index.to_list()[0]

Interval(21.2, 39.4, closed='right')

In [18]:
small_df['Nationality'].unique()

array(['Argentina', 'Portugal', 'Brazil', 'Spain', 'Belgium', 'Croatia',
       'Uruguay', 'Slovenia', 'Poland', 'Germany', 'France', 'England',
       'Italy'], dtype=object)

In [19]:
len(small_df['Nationality'].unique())

13

In [20]:
small_df['Nationality'].nunique()

13

Отметьте все варианты кода, после выполнения которого переменная result будет содержать количество видов позиций (Position), которые занимают игроки, представленные в датасете:

In [21]:
print(df['Position'].nunique())
print(len(df['Position'].unique()))
print(len(df['Position'].value_counts()))

27
27
27

In [22]:
s = small_df['Nationality'].value_counts()
s_df = s.reset_index()
print(type(s))
print(type(s_df))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [23]:
display(s_df)
# display(s)

        index  Nationality
0       Spain            4
1   Argentina            3
2     Belgium            3
3     Uruguay            3
4     Germany            3
5      France            2
6      Brazil            1
7     Croatia            1
8    Portugal            1
9    Slovenia            1
10      Italy            1
11    England            1
12     Poland            1

In [24]:
s_df.columns = ['Nationality','Players Count']
display(s_df)

   Nationality  Players Count
0        Spain              4
1    Argentina              3
2      Belgium              3
3      Uruguay              3
4      Germany              3
5       France              2
6       Brazil              1
7      Croatia              1
8     Portugal              1
9     Slovenia              1
10       Italy              1
11     England              1
12      Poland              1

# Задача 6.1
У какого процента испанских футболистов (Nationality = 'Spain') зарплата (Wage) находится в пределах 25% минимума от наблюдаемого уровня зарплат среди испанских игроков? Ответ дайте в виде целого числа (округлите полученный результат) без знака %.

 все испанские футболисты

In [25]:
df_spain = df.loc[df.Nationality=="Spain"]

распределение зарплат (нормализованное) в 4ех группах

In [26]:
df_spain_sorted = df_spain["Wage"].value_counts(bins=4, normalize=True)

сортируем (хотя и не обязательно, так как 0-25% находится и так на первом месте)

In [27]:
s = df_spain_sorted.sort_values(ascending=False)
display(s)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

переводим ответ в %

In [28]:
round(s.iloc[0]/s.sum()*100)

97

# Задача 6.2
Укажите количество национальностей (Nationality), к которым относятся футболисты, выступающие за клуб (Club) "Manchester United".

только нужный клуб

In [29]:
s = df.loc[df.Club=="Manchester United"]

In [30]:
s.Nationality.nunique()

13

# Задача 6.3
С помощью функции unique определите двух футболистов из Бразилии (Nationality = 'Brazil'), выступающих за клуб (Club) 'Juventus'. Перечислите их имена (Name, как в датафрейме) через запятую в алфавитном порядке.

In [31]:
df.loc[(df.Nationality=="Brazil") & (df.Club=="Juventus")]["Name"].unique().tolist()

['Alex Sandro', 'Douglas Costa']

# Задача 6.4
Укажите, какой из клубов (Club) насчитывает большее количество футболистов возрастом (Age) старше 35 лет.

In [33]:
df.loc[df.Age>35]["Club"].value_counts()

Hokkaido Consadole Sapporo       4
Club Atlético Huracán            4
San Martín de San Juan           3
Nagoya Grampus                   3
Club Atlético Colón              3
                                ..
Crawley Town                     1
IFK Norrköping                   1
La Berrichonne de Châteauroux    1
Celtic                           1
Deportivo Cali                   1
Name: Club, Length: 212, dtype: int64

# Задача 6.5
С помощью функции value_counts с параметром bins разбейте всех футболистов родом из Аргентины (Nationality = 'Argentina') на 4 равные группы по возрасту. Сколько футболистов из Аргентины в возрасте от 34,75 до 41 года?

In [34]:
df.loc[df.Nationality=="Argentina"]["Age"].value_counts(bins=4)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

# Задача 6.6
Сколько процентов футболистов из Испании (Nationality = 'Spain') имеют возраст (Age) 21 год? Введите с точностью до 2 знаков после запятой без указания знака % (например, 12.35).

In [69]:
df_sp_21 = df.loc[df.Nationality=="Spain"]["Age"].value_counts(normalize=True).loc[21]
round(df_sp_21*100, 2)

11.77

In [67]:
sp_all = df[df.Nationality == 'Spain']
sp_21 = df[(df.Nationality == 'Spain') & (df.Age == 21)]
round(len(sp_21)/len(sp_all)*100, 2)

11.77