In [1]:
import pandas as pd
ratings = pd.read_csv('00_ratings_example.txt', sep = '\t')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

In [3]:
movies = pd.read_csv('00_movies_example.txt', sep = '\t')
movies.head()

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller
2       31                    Dangerous Minds (1995)                     Drama

In [6]:
ratings.merge(movies, on='movieId', how='left')

   userId  movieId  rating   timestamp                    title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama
1       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama

In [13]:
movies.merge(ratings, on='movieId', how='right')

   movieId                    title genres  userId  rating   timestamp
0       31  Dangerous Minds (1995)   Drama       1     2.5  1260759144
1       31  Dangerous Minds (1995)   Drama       1     2.5  1260759144

In [8]:
ratings.merge(movies, on='movieId', how='right')

,userId,movieId,rating,timestamp,title,genres
0,1.0,31,2.5,1.260759e+09,Dangerous Minds (1995),Drama
1,NaN,32,NaN,NaN,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
2,1.0,31,2.5,1.260759e+09,Dangerous Minds (1995),Drama

In [9]:
ratings.merge(movies, on='movieId', how='inner')

   userId  movieId  rating   timestamp                    title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama
1       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama

In [11]:
ratings.merge(movies, on='movieId', how='outer')

,userId,movieId,rating,timestamp,title,genres
0,1.0,31,2.5,1.260759e+09,Dangerous Minds (1995),Drama
1,1.0,31,2.5,1.260759e+09,Dangerous Minds (1995),Drama
2,NaN,32,NaN,NaN,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller

In [14]:
movies.drop_duplicates(subset = 'movieId', keep = 'first', inplace = True)
movies.head()

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller

In [15]:
ratings.merge(movies, how = 'left', on = 'movieId')

   userId  movieId  rating   timestamp                    title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama