In [2]:
import pandas as pd

In [3]:
# В словаре items_dict (который мы переведем в датафрейм) содержится информация о наличии товара на складе:
items_dict = {
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
}

In [4]:
# А в словаре purchase_log — данные о покупках товаров:
purchase_log = {
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
}

- item_id — идентификатор модели (по этому столбцу будем объединять датафреймы)
- vendor — производитель модели
- stock_count — имеющееся на складе количество данных моделей (в штуках)
- purchase_id — идентификатор покупки
- price — стоимость модели в покупке

In [5]:
items_df = pd.DataFrame(items_dict)
purchase_df = pd.DataFrame(purchase_log)

# Задание 1
Объедините получившиеся датафреймы по столбцу item_id с типом outer.
Определите, модель с каким item_id есть в статистике продаж purchase_df, но не учтена на складе (подсказка: подумайте, какой датафрейм должен быть "левым", а какой "правым", чтобы получить необходимые данные). Введите ответ в виде целого числа.

In [6]:
items_df.merge(purchase_df, how="outer", on="item_id")

    item_id   vendor  stock_count  purchase_id    price
0    417283  Samsung         54.0        101.0  13900.0
1    849734       LG         33.0        101.0   5330.0
2    132223    Apple        122.0        101.0  38200.0
3    573943    Apple         18.0        112.0  49990.0
4     19475       LG        102.0        121.0   9890.0
5   3294095    Apple         43.0        145.0  33000.0
6    382043  Samsung         77.0        145.0  67500.0
7    302948  Samsung        143.0        145.0  34500.0
8    100132       LG         60.0        221.0  11400.0
9    312394      ZTE         19.0          NaN      NaN
10   103845      NaN          NaN        145.0  89900.0

# Задание 3
Сформируйте датафрейм merged, в котором в результате объединения purchase_df и items_df останутся модели, которые учтены на складе и имели продажи. Сколько всего таких моделей?

In [7]:
merged = items_df.merge(purchase_df, on="item_id", how="inner")
len(merged)

9

# Задание 4
Посчитайте объем выручки для каждой модели, которую можно получить, распродав все остатки на складе. Модель с каким item_id имеет максимальное значение выручки после распродажи остатков? Ответ дайте в виде целого числа.

Примечание: перемножение столбцов датафрейма можно производить разными способами, но самый простой - перемножение "в лоб" вида df\['col1'\] = df\['col2'\] * df\['col3'\]. Для присоединения новых данных к датафрейму тоже можно использовать различные методы, включая функцию .append(), которая позволяет присоединять к датафрейму другой датафрейм, серии или словари.

In [8]:
merged["stock_volume"] = merged["stock_count"]*merged["price"]
print(merged)

   item_id   vendor  stock_count  purchase_id  price  stock_volume
0   417283  Samsung           54          101  13900        750600
1   849734       LG           33          101   5330        175890
2   132223    Apple          122          101  38200       4660400
3   573943    Apple           18          112  49990        899820
4    19475       LG          102          121   9890       1008780
5  3294095    Apple           43          145  33000       1419000
6   382043  Samsung           77          145  67500       5197500
7   302948  Samsung          143          145  34500       4933500
8   100132       LG           60          221  11400        684000

In [9]:
merged.sort_values("stock_volume", ascending=False)["item_id"].to_list()[0]

382043

# Задание 5
Посчитайте итоговую выручку из прошлого задания по всем моделям. Ответ дайте в виде целого числа.

In [10]:
merged["stock_volume"].sum()

19729490

In [17]:
stock = merged["stock_count"]*merged["price"]
stock = stock.reset_index()
stock

   index        0
0      0   750600
1      1   175890
2      2  4660400
3      3   899820
4      4  1008780
5      5  1419000
6      6  5197500
7      7  4933500
8      8   684000

In [18]:
full_merged = pd.concat([merged, stock], axis = 1)

In [19]:
full_merged

,item_id,vendor,stock_count,purchase_id,price,stock_volume,index,0
0,417283,Samsung,54,101,13900,750600,0,750600
1,849734,LG,33,101,5330,175890,1,175890
2,132223,Apple,122,101,38200,4660400,2,4660400
3,573943,Apple,18,112,49990,899820,3,899820
4,19475,LG,102,121,9890,1008780,4,1008780
5,3294095,Apple,43,145,33000,1419000,5,1419000
6,382043,Samsung,77,145,67500,5197500,6,5197500
7,302948,Samsung,143,145,34500,4933500,7,4933500
8,100132,LG,60,221,11400,684000,8,684000