In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.metrics import mean_squared_error, f1_score, accuracy_score, roc_curve, roc_auc_score
from sklearn.model_selection import train_test_split

from matplotlib import pyplot as plt

In [2]:
data = load_boston()
data['data'].shape

(506, 13)

$$X^Ty=X^TX\theta \rightarrow \theta=(X^TX)^{-1}X^Ty$$

In [35]:
def linreg_linear(X, y):
    theta = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y)
    return theta

In [36]:
X, y = data['data'], data['target']

X = np.hstack([np.ones(X.shape[0])[:, np.newaxis], X])

In [37]:
theta = linreg_linear(X, y)

In [38]:
theta

array([ 3.64594884e+01, -1.08011358e-01,  4.64204584e-02,  2.05586264e-02,
        2.68673382e+00, -1.77666112e+01,  3.80986521e+00,  6.92224640e-04,
       -1.47556685e+00,  3.06049479e-01, -1.23345939e-02, -9.52747232e-01,
        9.31168327e-03, -5.24758378e-01])

In [39]:
theta.shape

(14,)

In [40]:
# Сделать предсказания для тренировочной выборки
y_pred = X.dot(theta)

In [41]:
def print_regression_metrics(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mse)
    print(f'MSE = {mse:.2f}, RMSE = {rmse:.2f}')

In [46]:
X.std(axis=0).max()

168.3704950393814

In [47]:
from sklearn.linear_model import LinearRegression

def print_regression_metrics(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mse)
    print(f'MSE = {mse:.2f}, RMSE = {rmse:.2f}')
    
X, y = data['data'], data['target']

lr = LinearRegression()
lr.fit(X,y)
y_pred = lr.predict(X)
print_regression_metrics(y, y_pred)

MSE = 21.89, RMSE = 4.68

In [82]:
data = load_boston()
df = pd.DataFrame(data=np.c_[data['data'],data['target']],
                     columns=np.r_[data['feature_names'], np.array('price')].tolist() )

In [107]:
df_filtered = df[df.B>=50]

In [112]:
df_filtered = df[df.B>=50]
df_filtered.insert(len(df.columns)-1, "ones", 1)
df_filtered

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,ones,price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,1,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,1,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,1,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,1,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,1,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,1,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,1,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,1,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,1,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,1,11.9

In [116]:
X = df_filtered.iloc[:,:-1]
y = df_filtered.iloc[:,-1:]

     price
0     24.0
1     21.6
2     34.7
3     33.4
4     36.2
..     ...
501   22.4
502   20.6
503   23.9
504   22.0
505   11.9

[486 rows x 1 columns]

In [91]:
X = df_filtered.iloc[:,1:-1].values
X = np.hstack([np.ones(X.shape[0])[:, np.newaxis], X])
y = df_filtered.iloc[:,-1:].values

In [95]:
data = load_boston()
X = pd.DataFrame(data=data['data'], columns=data['feature_names'])
y = data['target']
X['ones'] = 1

y = y[X['B'] >= 50]
X = X[X['B'] >= 50]

In [117]:
lr = LinearRegression()
lr.fit(X,y)
y_pred = lr.predict(X)
print_regression_metrics(y, y_pred)

MSE = 21.79, RMSE = 4.67

In [119]:
from sklearn.preprocessing import RobustScaler

X, y = data['data'], data['target']
X = np.hstack([np.ones(X.shape[0])[:, np.newaxis], X])
scaler = RobustScaler()
X_norm = scaler.fit_transform(X)
theta = linreg_linear(X, y)
y_pred = X.dot(theta)
print_regression_metrics(y, y_pred)

MSE = 21.89, RMSE = 4.68