In [1]:
import numpy as np
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
# from collections import Counter
import itertools as it
import datetime

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1301,tt2172935,18000000,7972967,Metallica: Through the Never,Dane DeHaan|Mackenzie Gray|James Hetfield|Lars...,NimrÃ³d Antal,Experience Metallica like never before,"Trip, a young roadie for Metallica, is sent on...",93,Music,Exclusive Media Group|Picturehouse Entertainment,9/25/2013,6.6,2013
520,tt0277371,16000000,66468332,Not Another Teen Movie,Chyler Leigh|Chris Evans|Jaime Pressly|Eric Ch...,Joel Gallen,They served you Breakfast. They gave you Pie. ...,"On a bet, a gridiron hero at John Hughes High ...",89,Comedy,Original Film|Columbia Pictures Corporation|Ne...,12/7/2001,5.3,2001
229,tt2978462,36000000,52424533,Dolphin Tale 2,Morgan Freeman|Ashley Judd|Nathan Gamble|Cozi ...,Charles Martin Smith,WINTER's amazing true story... now has HOPE.,The team of people who saved Winter's life rea...,107,Family|Drama,Alcon Entertainment|Color Force|Boxing Cat Films,9/12/2014,6.8,2014
1022,tt1591479,12000000,81272766,Act of Valor,Roselyn SÃ¡nchez|Emilio Rivera|Nestor Serrano|...,Mike McCoy|Scott Waugh,The only easy day was yesterday,When a covert mission to rescue a kidnapped CI...,110,Action|Thriller|War,Relativity Media|Bandito Brothers,2/24/2012,6.3,2012
199,tt0787474,60000000,108255770,The Boxtrolls,Ben Kingsley|Isaac Hempstead Wright|Elle Fanni...,Graham Annable|Anthony Stacchi,When troubles strikes friends stack together,An orphaned boy raised by underground creature...,97,Animation|Comedy|Family|Fantasy,Laika Entertainment,9/10/2014,6.6,2014

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# дополняем столбец с прибыльностью
data["profit"] = data["revenue"] - data["budget"]

# переводим в datetime
data["release_date"] = pd.to_datetime(data["release_date"])

# далаем explode, что бы далее сразу использовать нужный df
data_by_genre = data.copy()
data_by_director = data.copy()
data_by_cast = data.copy()
data_by_company = data.copy()

# жанры
data_by_genre.genres = data_by_genre\
    .genres.apply(lambda s: str(s).split("|"))
data_by_genre = data_by_genre.explode("genres")

# режиссеры
data_by_director.director = data_by_director\
    .director.apply(lambda s: str(s).split("|"))
data_by_director = data_by_director.explode("director")

# актеры
data_by_cast.cast = data_by_cast\
    .cast.apply(lambda s: str(s).split("|"))
data_by_cast = data_by_cast.explode("cast")

# кинокомпании
data_by_company.production_companies = data_by_company\
    .production_companies.apply(lambda s: str(s).split("|"))
data_by_company = data_by_company.explode("production_companies")


# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
df_tmp = data.sort_values("budget", ascending=False)
answers["1"] = f"{df_tmp.iloc[0].original_title} ({df_tmp.iloc[0].imdb_id})"
answers["1"]

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [9]:
df_tmp = data.sort_values("runtime", ascending=False)
answers["2"] = f"{df_tmp.iloc[0].original_title} ({df_tmp.iloc[0].imdb_id})"
answers["2"]

'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
df_tmp = data.sort_values("runtime")
answers["3"] = f"{df_tmp.iloc[0].original_title} ({df_tmp.iloc[0].imdb_id})"
answers["3"]

'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [11]:
answers["4"] = round(data.runtime.mean()) # в ответах целое, поэтому округлим
answers["4"]

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers["5"] = round(data.runtime.median())
answers["5"]

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
df_tmp = data.sort_values("profit", ascending=False)
answers["6"] = f"{df_tmp.iloc[0].original_title} ({df_tmp.iloc[0].imdb_id})"
answers["6"]
# лучше код получения столбца profit вынести в Предобработку что в начале

'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [14]:
df_tmp = data.sort_values("profit")
answers["7"] = f"{df_tmp.iloc[0].original_title} ({df_tmp.iloc[0].imdb_id})"
answers["7"]

'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
# выборка по сборам
#   считаем число уникальных imdb_id
answers["8"] = data[data.revenue > data.budget]\
    .imdb_id.nunique()
answers["8"]

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
# выборка по году
#   сортируем по убыванию
df_tmp = data[data.release_year == 2008]\
    .sort_values("revenue", ascending=False)
answers["9"] = f"{df_tmp.iloc[0].original_title} ({df_tmp.iloc[0].imdb_id})"
answers["9"]

'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
# выборка по годам
#   сотируем по возрастанию
df_tmp = data[(data.release_year >= 2012) & (data.release_year <= 2014)]\
    .sort_values("profit")
answers["10"] = f"{df_tmp.iloc[0].original_title} ({df_tmp.iloc[0].imdb_id})"
answers["10"]

'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
df_tmp = data.copy()
df_tmp.genres = df_tmp.genres.apply(lambda s: str(s).split("|"))
# преобразуем список списков в плоский список
flat_array = np.hstack(df_tmp.genres.to_numpy())
# получаем число упоминаний каждого жанра
genres, counts = np.unique(flat_array, return_counts=True)
# сортируем число жанров и получаем индексы
sorted_indx = np.argsort(-counts)
# применям индексы к жанрам что бы вытащить текст и берем первый элемент
answers["11"] = genres[sorted_indx][0]
answers["11"]

'Drama'

ВАРИАНТ 2

In [19]:
# уже готовый DF по жанрам
#   считаем количество каждого жанра
#   сортируем
#   берем верхний элемент
answers["11"] = data_by_genre\
    .genres.value_counts()\
    .sort_values(ascending=False)\
    .index[0]
answers["11"]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
# уже готовый DF по жанрам с выборкой по положительной прибыли
#   считаем количество каждого жанра
#   сортируем
#   берем верхний элемент
answers["12"] = data_by_genre[data_by_genre.profit > 0]\
    .genres.value_counts()\
    .sort_values(ascending=False)\
    .index[0]
answers["12"]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [21]:
# уже готовый DF по режиссерам
#   считаем суумму сбором по каждому режиссеру
#   сортируем
#   берем верхний элемент
answers["13"] = data_by_director\
    .groupby("director").revenue.sum()\
    .sort_values(ascending=False)\
    .index[0]
answers["13"]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
# выборка фильмов по жанру
df_tmp = data_by_genre[data_by_genre.genres == "Action"].copy()
# расширяем DF 
df_tmp.director = df_tmp.director.apply(lambda s: str(s).split("|"))
df_tmp = df_tmp.explode("director")
# DF по режиссерам и только Action
#   считаем количество фильмоав у каждого режиссера
#   сортируем
#   берем верхний элемент
answers["14"] = df_tmp\
    .groupby("director").imdb_id.count()\
    .sort_values(ascending=False)\
    .index[0]
answers["14"]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
# фрейм по актерам с выборкой по году
#   считаем суммарный сбор по каждому актеру
#   сортируем
#   берем актера
answers["15"] = data_by_cast[data_by_cast.release_year==2012]\
    .groupby("cast").revenue.sum()\
    .sort_values(ascending=False)\
    .index[0]
answers["15"]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?
Примечание: в фильмах, где бюджет выше среднего по данной выборке.

In [24]:
# фрейм по актерам с выборкой по бюджету выше среднего в оригинальном DF
#   считаем число фильмов сбор по каждому актеру
#   сортируем
#   берем актера
answers["16"] = data_by_cast[data_by_cast.budget > data.budget.mean()].copy()\
    .groupby("cast").imdb_id.count()\
    .sort_values(ascending=False)\
    .index[0]
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
# фрейм по жанрам с выборкой по Николасу в списке актеров
#   считаем количество фильмов по каждому жанру
#   сортируем
#   берем жанр
answers["17"] = data_by_genre[data_by_genre.cast.str.contains("Nicolas Cage")]\
    .groupby("genres").imdb_id.count()\
    .sort_values(ascending=False)\
    .index[0]
answers["17"]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
# фрейм с выборкой Парамаунту в списке компаний
#   сортируем
df_tmp = answers["18"] = data[data.production_companies.str.contains("Paramount Pictures")]\
    .sort_values("profit", ascending=True)
answers["18"] = f"{df_tmp.iloc[0].original_title} ({df_tmp.iloc[0].imdb_id})"
answers["18"]

'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
# оригинальный фрейм
#   считаем суммарный сбор по каждому году
#   сортируем
#   берем год
answers["19"] = data\
    .groupby("release_year").revenue.sum()\
    .sort_values(ascending=False)\
    .index[0]
answers["19"]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
# фрейм с выборкой по ВарнерБрос в списке компаний
#   считаем суммарную прибыть по каждому году
#   сортируем
#   берем год
answers["20"] = data[data.production_companies.str.contains("Warner Bros")]\
    .groupby("release_year").profit.sum()\
    .sort_values(ascending=False)\
    .index[0]
answers["20"]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
# оригинальный фрейм 
#   считаем количесто фильмов по каждому месяцу
#   сортируем
#   берем топовый месяц
month = data\
    .groupby(data.release_date.dt.month).imdb_id.count()\
    .sort_values(ascending=False)\
    .index[0]
# переводим номер месяца в текст
answers["21"] = datetime.date(1900, month, 1).strftime('%B')
answers["21"]

'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
# выборка по номерам летних ммесяцев
#   подсчет количества уникальных фильмов
answers["22"] = data.query('release_date.dt.month in [6, 7, 8]')\
    .imdb_id.nunique()
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
# фрейм по режиссерам с выборкой по номерам зимних месяцев 
#   считаем количество фильмов по каждому режиссеру
#   сортируем
#   берем топ
answers["23"] = data_by_director.query('release_date.dt.month in [1, 2, 12]')\
    .groupby("director").imdb_id.count()\
    .sort_values(ascending=False)\
    .index[0]
answers["23"]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
# дополняем новой колонкой с длинной названия
data_by_company["title_len"] = data_by_company.original_title.apply(lambda s: len(s))
# фрейм по компаниям 
#   считаем среднюю длину названий по каждой компании
#   сортируем
#   берем том
answers["24"] = data_by_company\
    .groupby("production_companies").title_len.mean()\
    .sort_values(ascending=False)\
    .index[0]
answers["24"]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
# аналогично №24, толлько с длиной описанияы
data_by_company["overview_len"] = data_by_company.overview.apply(lambda s: len(s))
answers["25"] = data_by_company\
    .groupby("production_companies").overview_len.mean()\
    .sort_values(ascending=False)\
    .index[0]
answers["25"]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
# тут сначала не понял про персентиль, может в задании как-то указать, считал 1% от voite_max
# получаем персентиль
percentile = np.percentile(data.vote_average, 99)
# делаем выборку по оцценкам большим персентиля
display(data[data.vote_average > percentile].original_title)

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [35]:
# вписываем руками ответ
answers["26"] = "Inside Out, The Dark Knight, 12 Years a Slave"
answers["26"]

'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [36]:
df_tmp = data.copy()

def string_to_combi(cast):
    """полученние комбинаций по 2 актера фильма
    Args:
        cast (str): строка с актерами

    Returns:
        list of tuples: список с комбинациями
    """
    list_ = str(cast).split("|")
    combi = it.combinations(sorted(list_),2)
    return list(combi)

# дополняем DF колонкой с листом возможных комбинаций актеров
df_tmp["cast_combi"] = df_tmp.cast.apply(string_to_combi)
# раскладываем лист на отдельные строки
df_tmp = df_tmp.explode("cast_combi")
# считаем количество фильмов для каждой комбинации
#   сортирум
#   берем топ комбинцию
answers["27"] = df_tmp.groupby("cast_combi").imdb_id.count()\
    .sort_values(ascending=False)\
    .index[0]
# формируем ответ
answers["27"] = " & ".join(answers["27"])
answers["27"]

'Daniel Radcliffe & Rupert Grint'

# Submission

In [37]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [38]:
# и убедиться что ни чего не пропустил)
len(answers)

27