In [1]:
import pandas as pd
log = pd.read_csv("./00_log.csv", header = None)
users = pd.read_csv("./00_users.csv", encoding="koi8-r", sep="\t")

In [2]:
log.columns = ["user_id","time","bet","win"]

In [3]:
log.time = log.time.apply(lambda s: s[1:] if type(s) == str else s)
log.time = pd.to_datetime(log.time)

In [16]:
# Найдите минуту, которая встречалась в данных чаще всего
int(log.time.dt.minute.value_counts().index[0])

36

In [17]:
# Найдите месяц, который встречался в данных реже всего. 
int(log.time.dt.month.value_counts(ascending=True).index[0])

4

In [23]:
((log.time.dt.day_of_week==5)|(log.time.dt.day_of_week==6)).value_counts()

False    717
True     283
Name: time, dtype: int64

с 0 до 5 часов - ночь, с 6 до 11 - утро, с 12 до 17 - день, с 18 до 23 - вечер.

Важно: для выполнения задания вам нужно будет избавиться от пропусков только в столбце time. Вспомните, как избавиться от пропусков только по конкретному признаку.

Посчитайте, какое время дня встречается в данных реже всего

In [27]:
def day_part(hr):
    hr = int(hr)
    if 0 <= hr <= 5:
        return "ночь"
    elif 6 <= hr <= 11:
        return "утро"
    elif 12 <= hr <= 17:
        return "день"
    elif 18 <= hr <= 23:
        return "вечер"
    else:
        return "unknown"

In [29]:
log.dropna(axis=0, subset=["time"], inplace=True)

In [31]:
log["day_part"] = log.time.dt.hour.apply(day_part)

In [35]:
log.day_part.value_counts(ascending=True)

вечер    227
день     240
утро     253
ночь     265
Name: day_part, dtype: int64

In [36]:
log["hour"] = log.time.dt.hour

In [37]:
log.head()

,user_id,time,bet,win,day_part,hour
0,Запись пользователя № - user_919,2019-01-01 14:06:51,NaN,NaN,день,14
1,Запись пользователя № - user_973,2019-01-01 14:51:16,NaN,NaN,день,14
2,Запись пользователя № - user_903,2019-01-01 16:31:16,NaN,NaN,день,16
3,Запись пользователя № - user_954,2019-01-01 17:17:51,NaN,NaN,день,17
4,Запись пользователя № - user_954,2019-01-01 21:31:18,NaN,NaN,вечер,21