In [2]:
import pandas as pd
log = pd.read_csv("./00_log.csv", header = None)
users = pd.read_csv("./00_users.csv", encoding="koi8-r", sep="\t")

In [3]:
log.columns = ["user_id","time","bet","win"]

Посчитайте количество пропусков в столбце time. Метод isna() есть не только у DataFrame, но и у Series. Это значит, что применять его можно не только ко всей таблице, но и к каждому столбцу отдельно.

In [4]:
log.time.isna().value_counts()[True]

15

Удалите все столбцы, где есть пропуски. Запишите в поле, сколько осталось столбцов в данных после этого.

In [5]:
tmp_log = log.copy()
tmp_log.dropna(axis=1,inplace=True)
tmp_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

Удалите все строки, где есть пропуски. Запишите в поле, сколько осталось строк в данных после этого.

In [6]:
tmp_log = log.copy()
tmp_log.dropna(axis=0, inplace=True)
tmp_log.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133 entries, 14 to 991
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  133 non-null    object
 1   time     133 non-null    object
 2   bet      133 non-null    float64
 3   win      133 non-null    float64
dtypes: float64(2), object(2)
memory usage: 5.2+ KB

In [7]:
tmp_log = log.copy()
tmp_log.loc[10].isna()

user_id    False
time       False
bet         True
win         True
Name: 10, dtype: bool

Удалите дубли среди столбцов user_id и time. Запишите в поле ниже, сколько осталось строк после удаления дублей.

In [8]:
tmp_log = log.copy()
tmp_log.drop_duplicates(subset=["user_id", "time"], inplace=True)
tmp_log.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 986 entries, 0 to 995
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  986 non-null    object
 1   time     985 non-null    object
 2   bet      472 non-null    float64
 3   win      133 non-null    float64
dtypes: float64(2), object(2)
memory usage: 38.5+ KB

In [10]:
log.time = log.time.apply(lambda s: s[1:] if type(s) == str else s)
log.head()

                            user_id                 time  bet  win
0  Запись пользователя № - user_919  2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  2019-01-01 21:31:18  NaN  NaN

In [18]:
log.time = pd.to_datetime(log.time)

In [21]:
type(log.loc[3].time)

pandas._libs.tslibs.timestamps.Timestamp

In [25]:
log.dropna(axis=0, inplace=True, subset=["time"])

In [26]:
log.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 985 entries, 0 to 995
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  985 non-null    object
 1   time     985 non-null    datetime64[ns]
 2   bet      472 non-null    float64
 3   win      133 non-null    float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 38.5+ KB

In [27]:
log.time.max()

Timestamp('2019-04-20 18:10:07')

In [37]:
log.time.apply(lambda x: x.minute).loc[13]

25

In [42]:
log = pd.read_csv("./00_log.csv", header = None)
log = log.dropna()  
log.columns = ['user_id', 'time', 'bet', 'win']  
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time'])
log['time'] = log.time.apply(lambda x: x.minute)
log['time'].head()

14     57
29     59
151    54
189    34
205    26
Name: time, dtype: int64