In [33]:
import pandas as pd
import numpy as np
log = pd.read_csv("./00_log.csv", header = None)
users = pd.read_csv("./00_users.csv", encoding="koi8-r", sep="\t")
log.columns = ["user_id","time","bet","win"]
users.columns = ["user_id","mail","address"]

log = log[log.user_id != '#error']
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])
users.user_id = users.user_id.apply(lambda x: x.lower())

In [34]:
# преобразование времени
log.time = log.time.apply(lambda s: s[1:] if type(s) == str else s)
log.time = pd.to_datetime(log.time)

In [35]:
log.bet.fillna(0, inplace=True)

In [36]:
def fillna_win(row):
    if not np.isnan(row.win):
        return row.win
    elif row.bet == 0:
        return 0
    elif row.bet != 0:
        return -row.bet
    else:
        return ""

new_win = log.apply(lambda row: fillna_win(row), axis=1)
log.win = new_win

In [37]:
def net(row):
    if row.win < 0:
        return row.win
    else:
        return row.win - row.bet

log["net"] = log.apply(lambda row: net(row), axis=1)

Объедините датасеты log.csv и users.csv по признаку user_id по примеру выше. Ответ запишите в поле ниже.

In [38]:
df = pd.merge(log, users, on="user_id")

In [40]:
df

,user_id,time,bet,win,net,mail,address
0,user_919,2019-01-01 14:06:51,0.0,0.0,0.0,Chikkaverle@icloud.com,Хабаровск
1,user_919,2019-01-30 10:06:00,0.0,0.0,0.0,Chikkaverle@icloud.com,Хабаровск
2,user_919,2019-02-05 14:33:44,0.0,0.0,0.0,Chikkaverle@icloud.com,Хабаровск
3,user_919,2019-02-14 11:38:05,0.0,0.0,0.0,Chikkaverle@icloud.com,Хабаровск
4,user_919,2019-03-02 04:23:36,300.0,-300.0,-300.0,Chikkaverle@icloud.com,Хабаровск
...,...,...,...,...,...,...,...
970,user_932,2019-02-24 22:40:06,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
971,user_932,2019-03-15 10:56:14,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
972,user_932,2019-03-18 10:13:24,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
973,user_932,2019-03-27 12:18:24,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
974,user_932,2019-04-18 14:55:26,700.0,6640.0,5940.0,BraceWalker@bk.ru,Красноярск

В данном случае мы группируем данные по признаку user_id.

После этого мы в каждой группе выбираем признак win.

Затем мы берем медиану каждой группы по признаку win и на выходе получаем таблицу, в которой индексом является признак user_id. В этой таблице единственный столбец - медиана по каждой группе (то есть по каждому пользователю).

Наконец, последний вызов median() дает нам медиану по предыдущему столбцу, то есть возвращает одно число.

In [44]:
df.groupby('user_id').win.median().median()

0.0

Посчитайте медиану баланса по каждому пользователю. Для этого сгруппируйте по пользователям, возьмите признак net, просуммируйте по каждому пользователю и получите медиану.

In [42]:
df.groupby('user_id').net.sum().median()

1986.0

Сколько раз в среднем каждый человек приходит, не делая ставок, при условии, что у этого человека все-таки есть хотя бы одна ставка? Например: Человек посетил букмекерскую контору 5 раз из них 1 раз сделал ставку, 4 раза нет - условие выполняется. Человек посетил букмекерскую контору 5 раз из них ни разу ставку не сделал - условие не выполняется. Для того, чтобы узнать это, просуммируйте в каждой группе количество записей со ставкой, равной 0, и поделите на общее количество групп. Если при этом в группе нет записей со ставкой больше 0, считаем количество записей в данной группе равным 0.

In [134]:
def get_user_stat(user):
    s = []
    s.append(user.bet.sum())
    s.append(user.bet.max())
    s.append(user.bet.count())
    counter = 0
    if user.bet.sum() != 0:
        for bet in user.bet:
            if bet == 0:
                counter += 1
    s.append(counter)    
    return pd.Series(
        s, index=[
            ["bet", "bet", "bet", "bet"],
            ["sum", "max", "count", "zero_bet_count"]
        ]
    )

In [139]:
df1 = df.groupby('user_id').apply(get_user_stat)

In [141]:
df1["bet"]["zero_bet_count"].mean()

5.05

In [142]:
for k,i in df.groupby('user_id').bet:
    print(i)

829      0.0
830    800.0
831      0.0
832      0.0
833      0.0
834      0.0
835      0.0
836      0.0
837    100.0
838    400.0
839    300.0
840      0.0
Name: bet, dtype: float64
56      0.0
57      0.0
58      0.0
59      0.0
60      0.0
61      0.0
62    200.0
63    200.0
64    300.0
65    300.0
66    400.0
67    600.0
68    900.0
69    900.0
Name: bet, dtype: float64
512      0.0
513      0.0
514      0.0
515      0.0
516      0.0
517      0.0
518    100.0
519    500.0
Name: bet, dtype: float64
917      0.0
918      0.0
919      0.0
920      0.0
921    200.0
922    300.0
923    400.0
924    800.0
Name: bet, dtype: float64
23        0.0
24        0.0
25        0.0
26        0.0
27      500.0
28      700.0
29      900.0
30     1000.0
31    10454.0
Name: bet, dtype: float64
813      0.0
814      0.0
815      0.0
816      0.0
817      0.0
818    600.0
Name: bet, dtype: float64
388        0.0
389        0.0
390        0.0
391     8700.0
392      950.0
393    12945.0
394    27000.0
395      500.0
396      500.0
397      800.0
398     1000.0
399     1000.0
Name: bet, dtype: float64
79      0.0
80      0.0
81      0.0
82      0.0
83      0.0
84      0.0
85      0.0
86    100.0
87    400.0
88    600.0
89    900.0
Name: bet, dtype: float64
606       0.0
607       0.0
608       0.0
609    9954.0
610       0.0
611     100.0
612     600.0
Name: bet, dtype: float64
729        0.0
730        0.0
731        0.0
732        0.0
733      700.0
734        0.0
735      300.0
736      200.0
737      400.0
738        0.0
739      800.0
740    10054.0
741    10254.0
Name: bet, dtype: float64
897       0.0
898       0.0
899     200.0
900     400.0
901    1000.0
Name: bet, dtype: float64
584    123981.0
585         0.0
586         0.0
587         0.0
588         0.0
589         0.0
590         0.0
591       100.0
592       300.0
593       600.0
594       600.0
595      1000.0
596      1000.0
597    104540.0
Name: bet, dtype: float64
876       0.0
877       0.0
878       0.0
879       0.0
880       0.0
881       0.0
882       0.0
883     100.0
884     400.0
885     500.0
886     700.0
887    9754.0
Name: bet, dtype: float64
494        0.0
495        0.0
496        0.0
497        0.0
498      100.0
499      300.0
500      600.0
501      600.0
502      700.0
503    10554.0
Name: bet, dtype: float64
314        0.0
315        0.0
316      100.0
317        0.0
318        0.0
319      100.0
320      500.0
321      700.0
322      700.0
323    10754.0
Name: bet, dtype: float64
681        0.0
682        0.0
683        0.0
684        0.0
685        0.0
686        0.0
687      200.0
688      600.0
689      700.0
690      800.0
691    10154.0
Name: bet, dtype: float64
449      0.0
450      0.0
451      0.0
452      0.0
453    800.0
Name: bet, dtype: float64
333      0.0
334      0.0
335      0.0
336      0.0
337      0.0
338      0.0
339      0.0
340      0.0
341    200.0
342    800.0
Name: bet, dtype: float64
45    156789.0
46    145732.0
47         0.0
48         0.0
49         0.0
50         0.0
51         0.0
52         0.0
53       500.0
54       600.0
55       600.0
Name: bet, dtype: float64
366       0.0
367       0.0
368       0.0
369       0.0
370       0.0
371     300.0
372     400.0
373     500.0
374     600.0
375     600.0
376    1000.0
377    1000.0
Name: bet, dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4    300.0
5    400.0
6    600.0
7    700.0
Name: bet, dtype: float64
419       0.0
420       0.0
421       0.0
422       0.0
423       0.0
424       0.0
425     700.0
426    1000.0
427     800.0
Name: bet, dtype: float64
454      0.0
455      0.0
456    400.0
457    900.0
Name: bet, dtype: float64
770    100.0
771      0.0
772      0.0
773      0.0
774    200.0
775    300.0
776    300.0
777    400.0
778    600.0
779    700.0
Name: bet, dtype: float64
699      0.0
700      0.0
701      0.0
702      0.0
703    200.0
704    500.0
705    500.0
706    800.0
Name: bet, dtype: float64
400       0.0
401       0.0
402       0.0
403       0.0
404     100.0
405     300.0
406     300.0
407     800.0
408    9754.0
Name: bet, dtype: float64
950       0.0
951       0.0
952       0.0
953       0.0
954       0.0
955       0.0
956     200.0
957    1000.0
Name: bet, dtype: float64
656        0.0
657        0.0
658        0.0
659        0.0
660      300.0
661      600.0
662    10354.0
Name: bet, dtype: float64
225      0.0
226      0.0
227      0.0
228    100.0
229      0.0
230      0.0
231      0.0
232    200.0
233    200.0
234    200.0
235    300.0
236    500.0
237    800.0
238    800.0
Name: bet, dtype: float64
477        0.0
478        0.0
479        0.0
480        0.0
481        0.0
482      400.0
483      600.0
484      900.0
485    10754.0
Name: bet, dtype: float64
205       0.0
206       0.0
207       0.0
208       0.0
209       0.0
210     200.0
211     500.0
212     800.0
213    1000.0
Name: bet, dtype: float64
742        0.0
743      100.0
744      300.0
745      400.0
746      600.0
747      700.0
748      900.0
749     1000.0
750     9854.0
751    10554.0
Name: bet, dtype: float64
819        0.0
820      400.0
821        0.0
822      300.0
823      700.0
824      700.0
825      900.0
826      900.0
827      900.0
828    10454.0
Name: bet, dtype: float64
970      0.0
971      0.0
972      0.0
973      0.0
974    700.0
Name: bet, dtype: float64
530      0.0
531      0.0
532      0.0
533      0.0
534      0.0
535      0.0
536      0.0
537    100.0
538    300.0
539    600.0
540    600.0
Name: bet, dtype: float64
958        0.0
959        0.0
960        0.0
961        0.0
962        0.0
963        0.0
964        0.0
965        0.0
966        0.0
967        0.0
968      300.0
969    10554.0
Name: bet, dtype: float64
437      0.0
438      0.0
439      0.0
440      0.0
441      0.0
442      0.0
443      0.0
444    300.0
445    500.0
446    700.0
447    700.0
448    800.0
Name: bet, dtype: float64
762      0.0
763      0.0
764      0.0
765      0.0
766      0.0
767    100.0
768    300.0
769    400.0
Name: bet, dtype: float64
299      0.0
300      0.0
301    100.0
302      0.0
303      0.0
304      0.0
305    200.0
306    100.0
307    300.0
308    500.0
309    600.0
310    700.0
311    700.0
312    800.0
313    800.0
Name: bet, dtype: float64
343       0.0
344       0.0
345       0.0
346       0.0
347     100.0
348     700.0
349     200.0
350     900.0
351     900.0
352    9954.0
Name: bet, dtype: float64
858      0.0
859      0.0
860      0.0
861      0.0
862      0.0
863    200.0
864    400.0
865    500.0
866    500.0
Name: bet, dtype: float64
359        0.0
360        0.0
361        0.0
362        0.0
363      500.0
364      700.0
365    10754.0
Name: bet, dtype: float64
613       0.0
614       0.0
615       0.0
616       0.0
617     300.0
618     700.0
619     800.0
620    9754.0
Name: bet, dtype: float64
193      98753.0
194    1678321.0
195          0.0
196          0.0
197          0.0
198          0.0
199        600.0
200        800.0
201        800.0
202       1000.0
203       1000.0
204      10254.0
Name: bet, dtype: float64
428       0.0
429     100.0
430     100.0
431     100.0
432     300.0
433     700.0
434     800.0
435     800.0
436    1000.0
Name: bet, dtype: float64
486      0.0
487      0.0
488      0.0
489      0.0
490    100.0
491      0.0
492    500.0
493    700.0
Name: bet, dtype: float64
718      0.0
719      0.0
720      0.0
721    500.0
722    700.0
Name: bet, dtype: float64
841      0.0
842    100.0
843      0.0
844      0.0
845      0.0
846    100.0
847    500.0
848    500.0
849    700.0
Name: bet, dtype: float64
925        0.0
926        0.0
927      100.0
928      200.0
929      200.0
930      300.0
931      400.0
932      700.0
933     1000.0
934     1000.0
935    10654.0
Name: bet, dtype: float64
324        0.0
325        0.0
326        0.0
327        0.0
328        0.0
329        0.0
330      300.0
331      800.0
332    10554.0
Name: bet, dtype: float64
249        0.0
250        0.0
251        0.0
252        0.0
253        0.0
254        0.0
255      100.0
256      300.0
257      500.0
258      600.0
259      800.0
260    10054.0
261    10154.0
262    10554.0
Name: bet, dtype: float64
888       0.0
889       0.0
890       0.0
891       0.0
892       0.0
893     500.0
894     600.0
895    1000.0
896    1000.0
Name: bet, dtype: float64
239        0.0
240      100.0
241        0.0
242      500.0
243      600.0
244      600.0
245      900.0
246     9754.0
247    10154.0
248    10254.0
Name: bet, dtype: float64
90       0.0
91       0.0
92       0.0
93     200.0
94     300.0
95     600.0
96     800.0
97    1000.0
98    9754.0
99    9754.0
Name: bet, dtype: float64
942       0.0
943       0.0
944       0.0
945       0.0
946     400.0
947     600.0
948     800.0
949    9954.0
Name: bet, dtype: float64
32       0.0
33       0.0
34       0.0
35       0.0
36       0.0
37       0.0
38       0.0
39       0.0
40     100.0
41     400.0
42     800.0
43    1000.0
44    9854.0
Name: bet, dtype: float64
632        0.0
633        0.0
634        0.0
635      100.0
636        0.0
637        0.0
638        0.0
639        0.0
640      500.0
641      600.0
642    10754.0
Name: bet, dtype: float64
676      0.0
677      0.0
678    200.0
679    500.0
680    700.0
Name: bet, dtype: float64
409       0.0
410       0.0
411       0.0
412       0.0
413       0.0
414       0.0
415       0.0
416     400.0
417     500.0
418    1000.0
Name: bet, dtype: float64
797      0.0
798      0.0
799      0.0
800      0.0
801      0.0
802    700.0
803    900.0
Name: bet, dtype: float64
378      0.0
379      0.0
380      0.0
381      0.0
382      0.0
383    400.0
384    400.0
385    400.0
386    500.0
387    900.0
Name: bet, dtype: float64
867       0.0
868     100.0
869     300.0
870     300.0
871     500.0
872     600.0
873     700.0
874     800.0
875    1000.0
Name: bet, dtype: float64
780        0.0
781        0.0
782        0.0
783        0.0
784        0.0
785        0.0
786        0.0
787      200.0
788      800.0
789    10354.0
Name: bet, dtype: float64
804      0.0
805      0.0
806      0.0
807      0.0
808    100.0
809    200.0
810    500.0
811    500.0
812    800.0
Name: bet, dtype: float64
134        0.0
135        0.0
136      100.0
137      200.0
138      300.0
139      400.0
140      400.0
141      500.0
142      800.0
143     8734.0
144    10554.0
Name: bet, dtype: float64
790      0.0
791      0.0
792      0.0
793      0.0
794    100.0
795    300.0
796    800.0
Name: bet, dtype: float64
116        0.0
117        0.0
118        0.0
119        0.0
120        0.0
121        0.0
122        0.0
123        0.0
124        0.0
125      200.0
126      200.0
127      200.0
128      500.0
129      700.0
130      900.0
131    10254.0
132    10254.0
133    10654.0
Name: bet, dtype: float64
707        0.0
708        0.0
709        0.0
710        0.0
711        0.0
712        0.0
713        0.0
714        0.0
715        0.0
716      200.0
717    10154.0
Name: bet, dtype: float64
153      0.0
154      0.0
155      0.0
156      0.0
157    200.0
158    300.0
159    500.0
160    800.0
Name: bet, dtype: float64
504      0.0
505    100.0
506      0.0
507      0.0
508      0.0
509      0.0
510    200.0
511    800.0
Name: bet, dtype: float64
850        0.0
851        0.0
852      400.0
853      500.0
854      700.0
855     9754.0
856    10054.0
857    10354.0
Name: bet, dtype: float64
555        0.0
556        0.0
557        0.0
558        0.0
559        0.0
560        0.0
561        0.0
562      500.0
563      900.0
564     1000.0
565    10454.0
566    10654.0
Name: bet, dtype: float64
100        0.0
101        0.0
102      100.0
103        0.0
104        0.0
105        0.0
106      300.0
107      400.0
108      400.0
109      500.0
110      700.0
111      500.0
112      900.0
113     1000.0
114     1000.0
115    10154.0
Name: bet, dtype: float64
8         0.0
9         0.0
10        0.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16      100.0
17      200.0
18      400.0
19      400.0
20     1000.0
21     9754.0
22    10254.0
Name: bet, dtype: float64
161      0.0
162      0.0
163      0.0
164      0.0
165    200.0
166    400.0
167    500.0
168    700.0
Name: bet, dtype: float64
936       0.0
937       0.0
938       0.0
939     100.0
940     700.0
941    1000.0
Name: bet, dtype: float64
214      0.0
215      0.0
216      0.0
217      0.0
218      0.0
219      0.0
220      0.0
221      0.0
222    100.0
223    300.0
224    400.0
Name: bet, dtype: float64
567        0.0
568        0.0
569        0.0
570        0.0
571        0.0
572        0.0
573        0.0
574      200.0
575      500.0
576    10354.0
Name: bet, dtype: float64
145       0.0
146       0.0
147       0.0
148       0.0
149       0.0
150       0.0
151     600.0
152    1000.0
Name: bet, dtype: float64
577        0.0
578        0.0
579        0.0
580      100.0
581      300.0
582      900.0
583    10654.0
Name: bet, dtype: float64
70      0.0
71      0.0
72      0.0
73      0.0
74      0.0
75      0.0
76    500.0
77    800.0
78    900.0
Name: bet, dtype: float64
752       0.0
753       0.0
754       0.0
755       0.0
756       0.0
757       0.0
758     500.0
759     600.0
760     900.0
761    1000.0
Name: bet, dtype: float64
466        0.0
467        0.0
468      100.0
469        0.0
470        0.0
471      500.0
472      800.0
473      800.0
474      900.0
475     9954.0
476    10154.0
Name: bet, dtype: float64
902      0.0
903      0.0
904      0.0
905      0.0
906      0.0
907      0.0
908      0.0
909      0.0
910      0.0
911      0.0
912      0.0
913      0.0
914    100.0
915    400.0
916    400.0
Name: bet, dtype: float64
663       0.0
664       0.0
665       0.0
666       0.0
667       0.0
668       0.0
669       0.0
670       0.0
671     200.0
672     200.0
673     500.0
674     900.0
675    9754.0
Name: bet, dtype: float64
275        0.0
276        0.0
277        0.0
278        0.0
279        0.0
280        0.0
281        0.0
282        0.0
283      100.0
284      300.0
285      400.0
286      400.0
287      700.0
288    10154.0
Name: bet, dtype: float64
541        0.0
542        0.0
543        0.0
544        0.0
545        0.0
546        0.0
547        0.0
548        0.0
549        0.0
550      200.0
551      900.0
552     1000.0
553    10254.0
554    10554.0
Name: bet, dtype: float64
263        0.0
264     5000.0
265     7650.0
266     9876.0
267        0.0
268    12548.0
269        0.0
270      300.0
271      300.0
272      300.0
273      400.0
274     9754.0
Name: bet, dtype: float64
692        0.0
693        0.0
694        0.0
695        0.0
696        0.0
697      200.0
698    10554.0
Name: bet, dtype: float64
621      0.0
622      0.0
623      0.0
624      0.0
625      0.0
626      0.0
627      0.0
628      0.0
629      0.0
630    400.0
631    600.0
Name: bet, dtype: float64
180       0.0
181       0.0
182       0.0
183       0.0
184       0.0
185       0.0
186       0.0
187       0.0
188       0.0
189       0.0
190     700.0
191     900.0
192    1000.0
Name: bet, dtype: float64
643      0.0
644      0.0
645      0.0
646      0.0
647      0.0
648      0.0
649    100.0
650    700.0
Name: bet, dtype: float64
289       0.0
290       0.0
291       0.0
292       0.0
293       0.0
294     100.0
295     200.0
296     500.0
297     600.0
298    9954.0
Name: bet, dtype: float64
723      0.0
724      0.0
725      0.0
726      0.0
727    300.0
728    600.0
Name: bet, dtype: float64
598      0.0
599      0.0
600      0.0
601    300.0
602    600.0
603    800.0
604    800.0
605    900.0
Name: bet, dtype: float64
520       0.0
521       0.0
522       0.0
523       0.0
524     200.0
525     400.0
526     500.0
527     800.0
528    1000.0
529    9954.0
Name: bet, dtype: float64
651    100.0
652      0.0
653      0.0
654    100.0
655    800.0
Name: bet, dtype: float64
353       0.0
354       0.0
355       0.0
356       0.0
357     200.0
358    1000.0
Name: bet, dtype: float64
169        0.0
170        0.0
171        0.0
172      500.0
173      500.0
174      500.0
175      600.0
176      900.0
177      900.0
178     1000.0
179    10654.0
Name: bet, dtype: float64
458      0.0
459      0.0
460      0.0
461      0.0
462      0.0
463    100.0
464    700.0
465    800.0
Name: bet, dtype: float64

In [131]:
counter = 0
for bet in df[df.user_id=="user_900"].bet:
    if bet == 0:
        counter += 1
print(counter)

6

In [144]:
df

,user_id,time,bet,win,net,mail,address
0,user_919,2019-01-01 14:06:51,0.0,0.0,0.0,Chikkaverle@icloud.com,Хабаровск
1,user_919,2019-01-30 10:06:00,0.0,0.0,0.0,Chikkaverle@icloud.com,Хабаровск
2,user_919,2019-02-05 14:33:44,0.0,0.0,0.0,Chikkaverle@icloud.com,Хабаровск
3,user_919,2019-02-14 11:38:05,0.0,0.0,0.0,Chikkaverle@icloud.com,Хабаровск
4,user_919,2019-03-02 04:23:36,300.0,-300.0,-300.0,Chikkaverle@icloud.com,Хабаровск
...,...,...,...,...,...,...,...
970,user_932,2019-02-24 22:40:06,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
971,user_932,2019-03-15 10:56:14,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
972,user_932,2019-03-18 10:13:24,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
973,user_932,2019-03-27 12:18:24,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
974,user_932,2019-04-18 14:55:26,700.0,6640.0,5940.0,BraceWalker@bk.ru,Красноярск

Сколько в среднем времени проходит между появлением человека в сервисе и первой ставкой? Считать нужно только тех, кто делал ставку. Для того, чтобы узнать это, напишите метод, считающий минимальное время среди ставок, равных 0, и минимальное время среди ставок больше 0. После этого верните разницу между вторым и первым числом. Пройдитесь по всем группам. Если в группе нет ставок больше 0, пропустите эту группу. Просуммируйте разницу во времени для каждой группы (с помощью метода, описанного выше) и поделите на количество групп, которые вы не пропустили.

In [173]:
def get_bet_time(user):
    s = []
    min_zero = user[user.bet == 0].time.min()
    min_bet = user[user.bet != 0].time.min()
    delta = min_bet - min_zero
    if delta < pd.Timedelta(0):
        delta = pd.Timedelta(0)
    s.append(min_zero)
    s.append(min_bet)
    s.append(delta)
    return pd.Series(
        s, index=[
            ["time", "time", "time"],
            ["min_zero", "min_bet", "delta"]
        ]
    )

In [175]:
df1 = df.groupby('user_id').apply(get_bet_time)
df1["time"]["delta"].mean()

Timedelta('47 days 01:34:33.930000')

In [166]:
df[df.user_id=="user_996"][df.bet == 0].time.min()

<ipython-input-166-6c108c32b528>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.user_id=="user_996"][df.bet == 0].time.min()

Timestamp('2019-03-03 11:43:38')

In [157]:
df[df.user_id=="user_996"].time

829   2019-01-21 19:31:34
830   2019-01-28 20:57:37
831   2019-02-10 05:33:25
832   2019-02-17 02:34:32
833   2019-02-21 12:01:29
834   2019-03-02 17:17:13
835   2019-03-03 12:34:16
836   2019-03-23 23:47:07
837   2019-03-27 03:39:36
838   2019-04-05 14:45:54
839   2019-04-05 06:48:33
840   2019-04-06 22:07:35
Name: time, dtype: datetime64[ns]

In [170]:
td = df[df.user_id=="user_996"][df.bet != 0].time.min() - df[df.user_id=="user_996"][df.bet == 0].time.min()

<ipython-input-170-c24619bccf5d>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  td = df[df.user_id=="user_996"][df.bet != 0].time.min() - df[df.user_id=="user_996"][df.bet == 0].time.min()
<ipython-input-170-c24619bccf5d>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  td = df[df.user_id=="user_996"][df.bet != 0].time.min() - df[df.user_id=="user_996"][df.bet == 0].time.min()

In [172]:
if td < pd.Timedelta(0):
    print('s')

s

In [168]:
df[df.user_id=="user_996"][["bet", "time"]]

       bet                time
651  100.0 2019-01-10 07:32:17
652    0.0 2019-03-03 11:43:38
653    0.0 2019-03-09 12:51:58
654  100.0 2019-03-10 10:57:52
655  800.0 2019-04-10 04:42:20

Используйте датасет, который получился в результате всех преобразований в прошлой секции (в том числе, заполнение пропусков).

Ответ запишите в поле ниже в виде одного слова, с большой буквы.

Наибольший суммарный выигрыш среди всех городов имеет Москва. Посчитайте следующий за ней город. Для этого сгруппируйте по городам, возьмите признак win, просуммируйте по каждому городу, отсортируйте и получите второй город.

In [188]:
df.groupby("address").win.sum().sort_values(ascending=False)

address
Москва             11379755.0
Воронеж              107514.0
Санкт-Петербург      105345.0
Казань                75352.0
Ярославль             46845.0
Ижевск                34479.0
Хабаровск             33451.0
Екатеринбург          28582.0
Красноярск            27397.0
Арзангелтск           25813.0
Пермь                 19518.0
Краснодар              3248.0
Ставрополь              487.0
Тюмень                 -499.0
Name: win, dtype: float64

Подсказки:

1. Можно использовать методы min() и max().

2. Учитывайте, что минимальная ставка, это ставка, которая была сделана, т.е. если ставка равна нулю - значит ставки не было.

3. Ответ запишите в поле ниже в виде целого числа (нужно отбросить дробную часть).

Во сколько раз различаются максимальное и минимальное значение средней ставки по городам? Для того, чтобы это посчитать, нужно сгруппировать по городам, взять среднее от признака bet, найти максимальное и минимальное значения, затем поделить одно на другое.

In [196]:
max_ = df[df.bet != 0].groupby("address").bet.mean().max()
min_ = df[df.bet != 0].groupby("address").bet.mean().min()
max_ / min_

127.81602335164835

Давайте повторим все, что мы прошли в этой секции. Напишите код, который посчитает, сколько раз пользователи приходили в букмекерскую контору в каждом городе. Для этого:

1. загрузите датасеты log.csv и users.csv;

2. удалите user_id с ошибкой (#error) и приведите признак user_id к одному виду в обоих датасетах;

3. слейте два датасета в один по признаку user_id;

4. сгруппируйте данные по правильному признаку (какому - вам нужно понять самим), затем выберите user_id и воспользуйтесь функцией count() для подсчета наблюдений в каждой группе;

5. результат запишите в sample2 (объект Series).

In [200]:
type(df.groupby("address").bet.count())

pandas.core.series.Series