In [3]:
import pandas as pd
import xml.etree.ElementTree as ET

tree = ET.parse('menu.xml')    
root = tree.getroot()  

df_index = ['name', 'price', 'weight', 'class']  
df = pd.DataFrame(columns=df_index)  
  
for elem in root:  
    elements = [elem.get('name'), elem[0].text, elem[1].text, elem[2].text]  
    df = df.append(pd.Series(elements, index=df_index), ignore_index=True)

In [4]:
df

    name price weight  class
0   Кура    40    300   Мясо
1  Греча    20    200  Крупа