In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve, auc
from math import isnan

plt.style.use("ggplot")

In [2]:
data = pd.read_csv("./data/gold_clean.csv")
data = data.rename(columns={"ts": "unixtime"})
data["ts"] = pd.to_datetime(data.unixtime)
data = data[(data.ts >= "2018-02-10") & (data.ts <= "2018-02-22")]

print(f"len(data) = {len(data)}")
data.head()

len(data) = 10792

,unixtime,open,high,low,close,vol,ts
39280,1518220800000000000,1316.7,1317.1,1316.7,1317.0,259,2018-02-10 00:00:00
39281,1518220860000000000,1317.0,1317.0,1316.6,1316.7,103,2018-02-10 00:01:00
39282,1518220920000000000,1316.8,1317.1,1316.7,1317.1,139,2018-02-10 00:02:00
39283,1518220980000000000,1317.0,1317.6,1317.0,1317.5,198,2018-02-10 00:03:00
39284,1518221040000000000,1317.6,1318.3,1317.6,1318.1,218,2018-02-10 00:04:00

Сделайте линейное (последовательное) разбиение, используя функцию np.split, в качестве коэффициента разбиения возьмите 0.6 (60% - тренировочный сет, 40% - тестовый). Укажите значение объёма (vol) первой строки тестового сета.

In [7]:
train, test = np.split(data, [int(0.6 * data.shape[0])])
test.iloc[0].vol

934

Напишите фунцкию множественного разбиения, используя np.array_split и pd.concat. Сделайте разбиение на пять частей, используйте три из них для тренировочного сета. Укажите значение объёма (vol) последней строки тренировочного сета.

In [10]:
train, test = np.split(data, [int(0.6 * data.shape[0])])
# train.tail()

,unixtime,open,high,low,close,vol,ts
45750,1518800160000000000,1358.3,1358.9,1358.2,1358.7,344,2018-02-16 16:56:00
45751,1518800220000000000,1358.7,1358.7,1358.2,1358.2,244,2018-02-16 16:57:00
45752,1518800280000000000,1358.2,1358.4,1358.2,1358.2,100,2018-02-16 16:58:00
45753,1518800340000000000,1358.2,1358.4,1358.0,1358.2,293,2018-02-16 16:59:00
45754,1518800400000000000,1358.3,1358.3,1357.8,1358.0,143,2018-02-16 17:00:00

In [13]:
np.array_split(data, 5)[2].iloc[-1].vol

934

Напишите функцию walk forward разбиения. Запустите её с параметрами n_splits=10, n_train=3, n_test=1, fold=1, укажите значение последнего элемента unixtime тестового сета.

In [14]:
np.array_split(data, 10)[3].iloc[-1].unixtime

1518667200000000000