In [24]:
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
from datetime import date

In [23]:
df = pd.read_csv("./data/srt_data.csv")
df.ts = pd.to_datetime(df.ts, format="%Y-%m-%d").dt.date
df.head()

,ts,serialNo,home,batteryVoltageMilliV,insideTemperatureCentiC,humidityMilliPerc
0,2018-10-01,VA4202760704,165132,2787.1310,1953.0737,575.49180
1,2018-10-02,VA4202760704,165132,2786.1047,1901.0000,550.63710
2,2018-10-03,VA4202760704,165132,2784.6934,1878.0369,550.09204
3,2018-10-04,VA4202760704,165132,2773.3500,1976.9114,583.65820
4,2018-10-05,VA4202760704,165132,2776.4314,2041.4010,589.74110

In [8]:
df[df.serialNo == "VA2170620672"].batteryVoltageMilliV.quantile(0.75)

2951.2801

In [12]:
date(2018, 2, 1)

datetime.date(2018, 2, 1)

In [29]:
df[
    (df.ts >= date(2018, 11, 1))
    & (df.ts < date(2018, 12, 1))
    & (df.serialNo == "VA2170620672")
].humidityMilliPerc.median()

566.3562

In [32]:
df[df.serialNo == "VA2048854528"].batteryVoltageMilliV

212    2892.4230
213    2889.5461
214    2885.0188
215    2883.8855
216    2883.0000
         ...
418    2673.4700
419    2668.2890
420    2663.2144
421    2659.3691
422    2657.4443
Name: batteryVoltageMilliV, Length: 211, dtype: float64