In [1]:
import pandas as pd
df = pd.DataFrame({
    'year': [2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018],
    'temp': [-4.7, -6.1, -5.5, -3.3, -7.1, -3.1, -5.2, -7.3, -12.1, -6.6, -5.9, -6.3]
})

In [4]:
round(df.temp.mean(),1) # Среднее

-6.1

In [5]:
round(df.temp.median(),1) # медиана

-6.0

In [7]:
round(df.temp.std(),1) #Стандартное отклонение:

2.3

In [9]:
round(df.temp.max() - df.temp.min(), 1) # Размах

9.0

In [11]:
round(
    df.temp.quantile(0.75, interpolation="midpoint") - df.temp.quantile(0.25, interpolation="midpoint"),
    1,
) # Межквартильный размах:

1.9

In [12]:
iqr = df.temp.quantile(0.75, interpolation="midpoint") - df.temp.quantile(0.25, interpolation="midpoint")

In [13]:
iqr

1.8999999999999995

In [15]:
h = df.temp.quantile(0.75, interpolation="midpoint") + 1.5*iqr

In [16]:
df[df.temp > h]

Empty DataFrame
Columns: [year, temp]
Index: []

In [17]:
l = df.temp.quantile(0.25, interpolation="midpoint") - 1.5*iqr

In [19]:
df[df.temp < l]

   year  temp
8  2015 -12.1